<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Yilin Miao's Forum</title>
</head>

<body>
  <a href="/" class="main-title">
    Yilin Miao's Forum
  </a>

  <div class="login-area">
    {% if user %}
      Welcome, {{user.name}}!
      <br>
      <a class="login-link" href="/blog/newpost">New Post</a> 
      |
      <a class="login-link" href="/logout">Logout</a>
    {% else %}
      <a class="login-link" href="/login">Login</a>
      |
      <a class="login-link" href="/signup">Signup</a>
    {% endif %}
  </div>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

