<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <h2>Signup</h2>
    <form method="post">
            Username
            <input type="text" name="username" value="{{username}}">
            {{error_username}}<br><br>

            Password
            <input type="password" name="password" value="">
            {{error_password}}<br><br>

            Verify Password
            <input type="password" name="verify" value="">
            {{error_verify}}<br><br>

            Email (optional)
            <input type="text" name="email" value="{{email}}">
            {{error_email}}<br><br>
      <input type="submit">
    </form>
    <div class="login-area">
      <a class="login-link" href="/login">Remember your account? Click here to log in.</a>
    </div>
  </body>

</html>
